/* GENERAL */

* {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-weight: bold;
}

.center {
    text-align: center;
}

.bluebackground {
    background-color: #DAFBFE;
}

header {
    height: 50px;
}


/* SECTION BIENVENUE */

#bienvenue {
    padding: 100px;
    background: #1c76ab;
    text-align: center;
}

#bienvenue h1 {
    color: #fff;
    text-transform: uppercase;
}

#bienvenue h3 {
    color: #000;
}

.bouton1 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid white;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}

.bouton1:hover {
    background: #fff;
    color: #1c76ab;
    text-decoration: none;
}


/* Accueil */

#home h2 {
    font-family: 'Lobster';
}

#home p {
    font-size: 17px;
}

#home .row {
    margin: 60px 0px;
}


/* Inscription */

#inscription>.form:before {
    top: 10px;
    left: 8px;
    width: 50%;
    height: 130px;
    box-shadow: -7px 0 10px #555;
    transform: rotate(-5deg);
}

#inscription>.form:after {
    display: none;
}