/* GENERAL */
*{
    font-family: 'Lato',sans-serif;
}

h1,h2,h3{
    font-weight: bold;
}
/* SECTION BIENVENUE */
#bienvenue{
    padding: 100px;
    background: #1c76ab;
    text-align: center;
}
#bienvenue h1{
    color: #fff;
    text-transform: uppercase;
}
#bienvenue h3{
    color: #000;
}
.bouton1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid white;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}

.bouton1:hover{
    background: #fff;
    color: #1c76ab;
    text-decoration: none;
}

/* Carousel */

.carousel-page {
    width: 100%;
    height: 450px;
    background-color: #5f666d;
    color: #fff;
}


/* Inscription */

#inscription>.form:before {
    top: 10px;
    left: 8px;
    width: 50%;
    height: 130px;
    box-shadow: -7px 0 10px #555;
    transform: rotate(-5deg);
}

#inscription>.form:after {
    display: none;
}